//----------------------------------
// FEATURE BOXES SNIPPET
//----------------------------------

@mixin feature-box($color, $start_opacity) {
	content: ' ';
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $color;
	@include opacity($start_opacity);
			transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

//----------------------------------
// BOX SHADOWS
//----------------------------------

@mixin inset-top-shadow {
	-webkit-box-shadow: 0px 8px 6px -6px $color-black inset;
	   -moz-box-shadow: 0px 8px 6px -6px $color-black inset;
			box-shadow: 0px 8px 6px -6px $color-black inset;
}

@mixin inset-bottom-shadow {
	-webkit-box-shadow: 0px -8px 6px -6px $color-black inset;
	   -moz-box-shadow: 0px -8px 6px -6px $color-black inset;
			box-shadow: 0px -8px 6px -6px $color-black inset;
}

@mixin inset-top-bottom-shadow {
	-webkit-box-shadow: 0px 8px 6px -6px $color-black inset, 0px -8px 6px -6px $color-black inset;
	   -moz-box-shadow: 0px 8px 6px -6px $color-black inset, 0px -8px 6px -6px $color-black inset;
			box-shadow: 0px 8px 6px -6px $color-black inset, 0px -8px 6px -6px $color-black inset;
}

@mixin inset-all-shadow {
	-webkit-box-shadow: 0px 0px 6px $color-black inset;
	   -moz-box-shadow: 0px 0px 6px $color-black inset;
			box-shadow: 0px 0px 6px $color-black inset;
}

@mixin sponsor-bar-custom-shadow {
	-webkit-box-shadow: 0px 8px 6px -6px $color-black inset, 0px -5px 6px -6px $color-black inset;
	   -moz-box-shadow: 0px 8px 6px -6px $color-black inset, 0px -5px 6px -6px $color-black inset;
			box-shadow: 0px 8px 6px -6px $color-black inset, 0px -5px 6px -6px $color-black inset;
}

@mixin sponsor-box-custom-shadow {
	-webkit-box-shadow: 0px 0px 6px 6px $color-true-black inset;
	   -moz-box-shadow: 0px 0px 6px 6px $color-true-black inset;
			box-shadow: 0px 0px 6px 6px $color-true-black inset;
}

@mixin date-box-custom-shadow {
	-webkit-box-shadow: 0px 0px 2px 2px $color-dark-gray inset;
	   -moz-box-shadow: 0px 0px 2px 2px $color-dark-gray inset;
			box-shadow: 0px 0px 2px 2px $color-dark-gray inset;
}

@mixin collapsible-bar-custom-shadow {
	-webkit-box-shadow: 0px 5px 6px -6px $color-black inset, 0px -5px 6px -6px $color-black inset;
	   -moz-box-shadow: 0px 5px 6px -6px $color-black inset, 0px -5px 6px -6px $color-black inset;
			box-shadow: 0px 5px 6px -6px $color-black inset, 0px -5px 6px -6px $color-black inset;
}

@mixin reset-shadow {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

//----------------------------------
// SHAPES
//----------------------------------

.about-circle-shape {  // For homepage
	//Shape
	width: 36rem;
	height: 36rem;
	background: $color-red;
	-moz-border-radius: 18rem;
	-webkit-border-radius: 18rem;
	border-radius: 18rem;
	//Styles
	position: absolute;
}

.hero-circle {
	width: 13rem;
	height: 13rem;
	background: white;
	-webkit-border-radius: 6.5rem;
	   -moz-border-radius: 6.5rem;
			border-radius: 6.5rem;
}

//----------------------------------
// COLLAPSIBLE CONTENT
//----------------------------------

.collapsible-header {
	margin: 0 5rem;
	cursor: pointer;
	font-weight: bold;
	font-size: 3rem;

	h2 {
		display: inline;
		font-size: 6rem;

		.fa {
			margin: 4rem 2.4rem;
		}
	}
}

.collapsible {
	@extend p;
	display: none;
	padding: 2rem 10rem;
	background-color: $color-light-gray;
}

#event-bda {
	.collapsible-header > i {
	-webkit-transition: -webkit-transform 0.3s;
	   -moz-transition:    -moz-transform 0.3s;
		 -o-transition:      -o-transform 0.3s;
			transition:         transform 0.3s;
	}

	.collapsible-header.active > i {
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			 -o-transform: rotate(90deg);
				transform: rotate(90deg);
		}
}

.user-navigation {

	.collapsible {
		position: absolute;
	}
}