//=================================
// Date CPT Styles
//=================================

.date-row {
	padding: 4rem 0 6rem;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	a {
		width: 25%;
	}
}

.date-titles {
	color: $color-black;
	margin: 1rem 1.5rem;
	width: 100%;

	h3, p {
		display: inline-block;
	}

	p {
		font-size: 1.2rem;
	}
}


.date-link {
	text-decoration: none;
	color: inherit;
	line-height: inherit;
	margin: 0.5rem;
	padding: 0;
	width: 100%;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

		@include mq(medium){
			width: $one-two;
		}
		@include mq(large){
			width: $one-four;
		}
}

.date-box {

	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-height: 17rem;

			transition: box-shadow .25s ease-in-out;
	   -moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
			transition: background-color .15s ease-in-out;
	   -moz-transition: background-color .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out;

	a {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		content: '';
	}

	h1,h2,h3,h4 {
		margin: 0;
		padding: 0;
	}

	h3 {
		width:100%;
		text-align:center;
		padding: 1rem 0;
				transition: color .10s ease-in-out;
		   -moz-transition: color .10s ease-in-out;
		-webkit-transition: color .10s ease-in-out;
	}

	.date-inner {
		height: 10.5rem;
		display: flex;
		align-items: center;
		color: $color-black;

		p {
			margin: auto -10%;
					transition: color .10s ease-in-out;
			   -moz-transition: color .10s ease-in-out;
			-webkit-transition: color .10s ease-in-out;

			&:before {
				content: "to";
			}

			@include mq($mq-large, "max") {
				&:before {
					content: "through";
				}
			}
		}

		.date-icon {
			margin: auto;
			position: relative;
			padding: 1rem 0 0;

			h3 {
				font-size: 2.5rem;
				padding: 0;
			}

			h4 {
				padding: 0;
			}

			&:before {
				position: absolute;
				left: 1.5rem;
				bottom: -1.25rem;
				margin: 0 0 0 -4rem;
				font-size: 8.4rem;
				@include setfont(FontAwesome);
				content: "\f133";
			}

			h3, h4, &:before {
						transition: color .10s ease-in-out;
				   -moz-transition: color .10s ease-in-out;
				-webkit-transition: color .10s ease-in-out;
			}

		}

	}

	&:hover {
		color: $color-white;
		background-color: $color-blue;
		@include date-box-custom-shadow;

		> .date-inner, .date-inner p {
			color: $color-white;
		}

	}

}

.single-wrap {
	align-items: flex-start;
}

.event-large {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-height: 15rem;
	max-width: 50rem;
	float: left;

	a {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		content: '';
	}

	h1,h2,h3,h4 {
		margin: 0;
		padding: 0;
	}

	h3, h1 {
		text-align:center;
	}

	.date-inner {
		height: 10.5rem;
		display: flex;
		align-items: center;
		color: $color-black;

		h3 {
			padding-top: 12%;
		}

		.date-icon {
			margin: auto;
			position: relative;
			padding: 5rem 0 0;
			width: 12rem;

			h3 {
				margin: auto;
			}

			&:before {
				position: absolute;
				left: 4.25rem;
				bottom: -2.5rem;
				margin: 0 0 0 -5.75rem;
				font-size: 16rem;
				@include setfont(FontAwesome);
				content: "\f133";
			}
		}
	}
}

.location-desc {

	margin: 0 auto;
	padding: 0 8%;
	min-height: 15rem;
	width: 50rem;
	text-align: center;
	float: left;

	p {
		margin: 0;
	}
}

.location-map {

	margin: 0 auto;
	min-height: 15rem;
	width: 50rem;
	float: right;

}