//=================================
// Feature Boxes
//=================================

.box-row {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	display: block;
}

.feature-box {
	padding: 0 1.5rem;
	width: 33.333%; // IE 11 was having trouble with vw
	height: 24.333vw;
	position: relative;
	display: block;
	float: left;
	color: $color-white;
	background-size: cover;
	background-color: $color-gray;

	@include mq($mq-medium, "max") {
		width: 100vw;
		background-position: 50% 50%;
	}

	> a {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		content: '';
	}

	.feature-inner {
		margin: 1em .6em;
		width: 92%;
		@include mq($mq-medium, "max") {
			position: absolute;
			top: 0;
			bottom: 0;
		}

		> h1 {
			margin: 0 0 .4rem 0;

			@include mq($mq-xlarge, "max") {
				font-size: 3vw;
			}
			@include mq($mq-medium, "max") {
				font-size: 7vw;
			}
		}

		> h3 {
			@include setfont(opensans, bold);

			@include mq($mq-xlarge, "max") {
				font-size: 1.8vw;
			}
			@include mq($mq-medium, "max") {
				font-size: 4vw;
			}
		}

		.fa-icon {
			float: left;
			font-size: 8rem;
			padding: 0 1.5rem 0 0;

			@include mq($mq-xlarge, "max") {
				font-size: 3.5vw;
			}
			@include mq($mq-medium, "max") {
				font-size: 8vw;
			}
		}

		> a {
			text-decoration: none;
			color: inherit;
			line-height: inherit;
			margin: 0;
			padding: 0;
		}

	}


	&:hover > .sato-Red {
		opacity: 0;
	}

	&:hover > .sato-Blue {
		opacity: 0;
	}

	&:hover > .sato-Green {
		opacity: 0;
	}

	&:hover > .sato-Orange {
		opacity: 0;
	}

	&:hover > .sato-Purple {
		opacity: 0;
	}

	&:hover > .sato-Cyan {
		opacity: 0;
	}
}



.sato-Red {
	@include feature-box($color-red, .7);
}

.sato-Blue {
	@include feature-box($color-blue, .7);
}

.sato-Green {
	@include feature-box($color-green, .7);
}

.sato-Orange {
	@include feature-box($color-orange, .7);
}

.sato-Purple {
	@include feature-box($color-purple, .7);
}

.sato-Cyan {
	@include feature-box($color-cyan, .7);
}