//======================
//  View and Manage
//======================

.film-view, .film-edit {
	@extend p;
}

.film-view {
	margin: 2.5rem 0;
}

.film-edit {

	form.edit-film {
		label {
			vertical-align: top;
		}
	}

	.edit-field {
		display: block;
		padding: 1rem 2.5rem;

		label {
			width: 30%;
			padding: 0;
			display: inline-block;
			vertical-align: middle;
		}

		input[type="text"],
		select,
		textarea {
			width: 65%;
			display: inline-block;
		}

		select {
			margin: 1.5rem 0;
		}
	}

	input[type="submit"] {
		float: right;
		@extend .clear;
	}
}

form.edit-film, form.edit-crew, form.edit-nominations {
	overflow: auto;
	padding: 1rem;
}