//----------------------------------
// SINGLE PAGES BASIC
//----------------------------------

.single-wrap {
	margin: 10rem auto;
	padding: 0;
	min-height: 20rem;
	max-width: 120rem;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
    align-items: flex-start;
}

.title {
	margin: auto;
	float: right;
	max-width: 50rem;
}

.single-image {
	margin: auto;
	max-width: 50rem;
	float: left;
}

.single-desc {
	margin: auto;
	float: right;
	max-width: 50rem;

	h1 {
		margin: 0;
	}

	p {
		margin: 2rem 0 0 0;
	}
}

.view-wrap {
	margin: 5rem;

	h1 {
		font-size: 3.2rem;
		line-height: 3.2rem;
	}
}