//----------------------------------
// SPONSORS
//----------------------------------

.spon-row {
	padding: 4rem 0 6rem;
	margin: 0 0 0 0;
	@include sponsor-bar-custom-shadow;
}

.spon-titles {
	color: $color-black;
	margin: 1rem 3rem;

	h3, p {
		display: inline-block;
	}

	p {
		font-size: 1.2rem;
		font-weight: bold;
	}
}

.spon-box {
	color: white;

	a {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		content: '';
	}

	h2 {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
				transition: opacity .25s ease-in-out;
		   -moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}

	.spon-inner {
		margin: 1em .6em;
		min-height: 150px;
		@extend %bg-cover;
		background-size:contain;
				transition: opacity .25s ease-in-out;
		   -moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;

		.fa-icon {
			float: left;
			font-size: 8rem;
			padding: 0 1.5rem 0 0;
		}

		> a {
			text-decoration: none;
			color: inherit;
			line-height: inherit;
			margin: 0;
			padding: 0;
		}

	}

	&:hover > .sato-gray {
		opacity: .7;
		@include sponsor-box-custom-shadow;
	}


	&:hover h2 {
		opacity: 1;
	}
}

.sato-gray {
	@include feature-box($color-black, 0);
}

//----------------------------------
// SPONSORS PAGE
//----------------------------------

.spon-row.spon-page {
	@include reset-shadow;
	padding: 2rem 0 4rem;
}

.spon-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.spon-box.spon-page {
	min-width: 32rem;
	display: inline-block;
	position: relative;
}

.spon-year-block {
	margin: 1rem 3rem;
	display: inline-block;
	vertical-align: top;
}

.year-list {
	@extend p;
	list-style-type: none;
}