//======================
//  View and Manage
//======================

.team-view, .team-edit {
	@extend p;
}

.team-view {
	margin: 2.5rem 0;
}

.team-edit {

	label {
		width: 12.5rem;
		padding: 0 0 0 2.5rem;
	}

	input[type="text"] {
		width: 25rem;
	}
}

.team-members {
	padding: 2.5rem 0;

	h5 {
		padding: 0 0 1rem;
	}

	.team-list {
		padding: 0 2.5rem;
		margin: 0;
	}

	ul {
		list-style: none;
	}
}

.edit-post-link {
	font-weight: bold;
}

.search-highlight {
	font-weight: bold;
}

.team-films-table, .team-users-table {
	margin: 4rem 0;

	table {
		@extend p;
		font-size: 1.6rem;
		width: 100%;

		p {
			margin: 0;
		}

		th {
			@include setfont(Nevis);
			padding: 0.5rem 0;
			border-bottom: 0.2rem solid $color-gandalf-gray;
			text-align: left;
			width: 40%;

			&:first-of-type {
				width: 10%;
				padding: 0.5rem;
			}
		}

		td {
			padding: 0.75rem 0;
			text-align: left;
			width: 40%;
			font-weight: bold;

			&:first-of-type {
				width: 10%;
				padding: 0.5rem;
			}
		}

		tr {
			&:nth-child(n+2):nth-child(odd) {
				background-color: $color-light-gray;
			}
		}
	}
}

//======================
//	Register
//======================

.register-form {
	margin: 2.5rem 35rem;

	h3 {
		padding: 0 2rem 2rem;
		position: relative;

		&:before {
				border-top: 0.2rem solid #dfdfdf;
				content:"";
				margin: 0 auto; /* this centers the line to the full width specified */
				position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
				top: 1.25rem; left: 0; right: 0; bottom: 0;
				width: 100%;
				z-index: -1;
		}

		span { 
			/* to hide the lines from behind the text, you have to set the background color the same as the container */ 
			background: #fff;
			padding: 1rem;
		}
	}
}

.contact-fields {
	text-align: center;

	label {
		width: 13.5rem;
		text-align: right;
		padding: 0 1.5rem 0 0;
	}
}

.rules-terms {

	label {
		padding: 0 0 0 1rem;
	}
}