//=================================
// User Page Styles
//=================================

.user-info {
	width: 100%;
	padding: 0;
}

.filmmaker-name {
	@include setfont(opensans);
	font-size: 3.2rem;
}

.user-identity {
	width: auto;
	margin: 0 0 5rem;

	.avatar {
		width: 10rem;
		font-size: 1.4rem;
		line-height: 1.4rem;
		float: left;
		display: block;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.user-info {
		width: 18rem;
		font-size: 1.4rem;
		line-height: 1.4rem;
		float: left;
		display: block;

		@include mq($mq-small, "max") {
			width: 100%;
			float: none;
		}

		p {
			font-weight: bold;
			margin-bottom: 1rem;
		}
	}

	&.id-public {
		.avatar, .user-info {
			float: right;
		}
	}
}

.profile-message {
	max-width: 62%;
	float: right;

	@include mq($mq-medium, "max") {
		max-width: 55%;
	}

	@include mq($mq-small, "max") {
		width: 100%;
		max-width: 100%;
		float: none;
		margin: 5rem 0 0;
	}

	p {
		margin: 2rem;
		@include setfont(Nevis);
	}
}

.message{

	&-neutral {
		border: 0.1rem solid $color-neutral-focus;
		background: $color-neutral-bg;

		p {
			color: $color-blue-shadow;
		}
	}

	&-success {
		border: 0.1rem solid $color-green-shadow;
		background: $color-green;

		p {
			color: $color-white;
		}
	}

	&-warning {
		border: 0.1rem solid $color-red-shadow;
		background: $color-trans-red;

		p {
			color: $color-white;
		}
	}
}

.current-teams {

	a {
		font-weight: bold;
		padding: 0.3rem;
		display: inline-block;
	}
}

.user-teams-table {
	margin: 2rem 0;

	table {
		@extend p;
		font-size: 1.6rem;
		width: 100%;

		p {
			margin: 0;
		}

		th {
			@include setfont(Nevis);
			padding: 0.5rem 0;
			border-bottom: 0.2rem solid $color-gandalf-gray;
			text-align: left;
			width: 40%;

			&:first-of-type {
				width: 10%;
				padding: 0.5rem;
			}
		}

		td {
			padding: 0.75rem 0;
			text-align: left;
			width: 40%;
			font-weight: bold;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: auto;

			&:first-of-type {
				width: 10%;
				padding: 0.5rem;
			}
		}

		tr {
			&:nth-child(n+2):nth-child(odd) {
				background-color: $color-light-gray;
			}
		}
	}
}

.user-form {

	h4 {
		margin: 2rem 0;
	}

	label {
		@include setfont(opensans);
		font-size: 0.8125em;
		margin: 0.4rem 0 0.5rem;
		display: block;
		color: $color-gandalf-gray;
	}

	.input-full {

	}

	.input-left {
		width: 50%;
		padding-right: 1rem;
		float: left;
	}

	.input-right {
		width: 50%;
		padding-left: 1rem;
		float: right;
	}

	.buttons {
		float: right;
	
		.btn {
			display: inline-block;
			text-transform: uppercase;
			margin: 0 0.5rem;
		}
	}
}