//=================================
// FOOTER
//=================================

.sato-footer {
	padding: 5rem 0 0;
	
	p {
		color: #aaaaaa;
	}
}

#footer {
	height: 10rem;
	background-color: #111111;
}