//=================================
// SATO GRID
//=================================

.row {
	@include col(100%);
	display: block;
	overflow: hidden;

	&:after {
		clear: both;
	}
}

.col-one-three {
	width: 100%;
	@include mq(large){
		width: $one-three;
	}
}

.col-one-four {
	width: 100%;
	@include mq(medium){
		width: $one-two;
	}
	@include mq(large){
		width: $one-four;
	}
}

.col-one-three,
.col-one-four {
	float: left;
	position: relative;
	display: block;
	padding: 0 1.5rem;
}