//=================================
// Main Styles
//=================================

//---------------------------------
// Globals
//---------------------------------

html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -10rem; 
}

.page-wrap:after {
	content: "";
	display: block;
	height: 10rem;
}

.content-wrap {
	margin: 0 5rem;
	display: block;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;

	&:after {
		clear: both;
	}
}

.breadcrumbs {
	@extend p;
	margin: 2.5rem 0;
	font-weight: bold;
}

.clear {
	clear: both;
}

//---------------------------------
// Background Images
//---------------------------------

.hero-image {
	background-position-x: 50%;
	background-position-y: 0%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 80rem;
	top: -1.5rem;
}

.not-found {
	text-align: center;
	padding: 10rem 0;

	i {
		padding: 0 1rem;
	}
}

.content-wrap.default {
	padding: 5rem 0;
}