//=================================
// NAVIGATION
//=================================

.navbar {
	border: 0;
	min-height: 5rem;
	padding: 0;
	margin: 0;
	background: $color-black;
	z-index: 1;

	ul {
		list-style: none;
	}
	.content-wrap {
		margin: 0;
		@include mq(medium){
			margin: 0 5rem;
		}
	}
	ul.nav-list {
		margin: 0;
		padding: 0;
		list-style: none;
		clear: both;
		width: 50%;
		float: left;
		@include mq(large){
			width: auto;
		}

		> li {
			margin: 0;
			padding: 0 0 0.5rem;
			min-height: 5rem;


			@include mq(large) {
				float: left;
			}

			> a {
				background: $color-black;
				padding: 1.5rem 1.5rem 0.95rem;
				display: block;
			}

			&.current-menu-item > a, > a:hover {
				background: transparent;
			}

			&.current-menu-item:nth-child(1) > a:hover, &:nth-child(1) {
				background: $color-red;
			}

			&.current-menu-item:nth-child(1) > a, &:nth-child(1) > a:hover, &.current-menu-item:nth-child(1) ~ i:before {
				text-shadow: 0.2rem 0.2rem $color-red-shadow;
			}

			&.current-menu-item:nth-child(2) > a:hover, &:nth-child(2) {
				background: $color-blue;
			}

			&.current-menu-item:nth-child(2) > a, &:nth-child(2) > a:hover  {
				text-shadow: 0.2rem 0.2rem $color-blue-shadow;
			}

			&.current-menu-item:nth-child(3) > a:hover, &:nth-child(3) {
				background: $color-green;
			}

			&.current-menu-item:nth-child(3) > a, &:nth-child(3) > a:hover  {
				text-shadow: 0.2rem 0.2rem $color-green-shadow;
			}

			&.current-menu-item:nth-child(4) > a:hover, &:nth-child(4) {
				background: $color-orange;
			}

			&.current-menu-item:nth-child(4) > a, &:nth-child(4) > a:hover {
				text-shadow: 0.2rem 0.2rem $color-orange-shadow;
			}

			&.current-menu-item:nth-child(5) > a:hover, &:nth-child(5) {
				background: $color-purple;
			}

			&.current-menu-item:nth-child(5) > a, &:nth-child(5) > a:hover {
				text-shadow: 0.2rem 0.2rem $color-purple-shadow;
			}
		}
	}

	ul.navbar-right {
		float: left;
		padding: 0.5rem 0;
		width: 46%;
		text-align: right;
		line-height: 4.5rem;
		@include mq(large){
			float: right;
			width: rem(250px);
			text-align: center;
		}
		li.logged-in {
			width: 98% !important;
			max-width: 98% !important;
			@include mq(large){
				width: 100% !important;
				max-width: 100% !important;
			}
			a {
				width: 100%;
			}

		}
		li.user-navigation {
			background: transparent;
			display: inline-block;
			max-width: 42%;
			float: left;
			margin: 0;
			> a {
				color: $color-user-blue;
				-webkit-box-sizing:content-box;
					 -moz-box-sizing: content-box;
						box-sizing: content-box;
				margin: 0 1rem;
			}
			.collapsible {
				background: $color-off-black;
				padding: 0;
				margin-top: 10px;
				border-radius: 5px;
				text-align: center;
				width: 95%;
				margin-right: auto;
				margin-left: auto;
				li {
					width: 100%;
					display: block;
					margin-left: auto;
					margin-right: auto;
					font-size: rem(18px);
					&:first-of-type {
						a {
							padding-top: rem(10px);
							border-top-left-radius: rem(5px);
							border-top-right-radius: rem(5px);
						}
					}
					&:last-of-type {
						a {
							padding-bottom: rem(10px);
							border-bottom-left-radius: rem(5px);
							border-bottom-right-radius: rem(5px);
						}
					}
				}
				a {
					color: $color-user-blue;
					width: 100%;
					display: block;
					padding: rem(5px 10px);
					padding-left: rem(10px);
					text-decoration: none;
					line-height: rem(25px);
					&:hover {
						background: $color-dark-gray;
						color: $color-user-blue;
					}
				}
			}
		}

		.btn-usernav {
			width: auto;
			max-width: 75%;
			margin: 0;
			line-height: 2rem;
			color: $color-user-blue;
			background: $color-off-black;
			font-family: Verdana;
			font-size: 1.6rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			&:hover {
				background: $color-dark-gray;
				color: $color-user-blue;
			}

			i {
				position: absolute;
				top: 1.2rem;
				right: 1.2rem;
			}
		}

		.dropdown-menu {
			margin-right: 1.4rem;
			display: none;
			list-style: none;
		}

		li.logged-in {
			a {
				button {
					padding-right: 3rem;
				}
			}
		}
	}
}

.nav-list {

	li {
		display: block;
		@include mq($mq-large, "max") {
			display: none;

			&:first-of-type {
				display: block;
			}
		}
	}

	i {
		font-size: 2rem;
		color: $color-white;
		position: absolute;
		display: none;
		pointer-events: none;

		@include mq($mq-large, "max") {
			display: block;
			top: 1.6rem;
			right: 2rem;

		}
	}

	&.nav-down {
		li {
			display: block;
		}

		i {
			pointer-events: auto;
		}
	}
}