//=================================
// COLORS
//=================================

// Color Map
$colors: (
	black: (
		base: #888,
		light: #222,
		medium: #555,
		dark: #777
	),
	teal: (
		base: #139397,
		light: #33afb3,
		dark: #264d4e
	)
);

// Color Function
@function setcolor($color_name, $tone: base) {
	@if map-has-key($colors, $color_name) {
		@return map-get(map-get($colors, $color_name), $tone);
	} @else {
		@warn "Couldn't find a color named `#{$color_name}`.";
	}
}


//=================================
// COLORS
//=================================

// Start all colors with $color-
// Not only does it help you out when you are coding, but the colors will automatically pull up as you start typing.

$color-true-black:		rgba(0, 0, 0, 1) !default; //#000000
$color-black:			rgba(17, 17, 17, 1) !default; //#111111
$color-off-black:		rgba(51, 51, 51, 1) !default; // #333333
$color-darker-gray:		rgba(68, 68, 68, 1) !default; // #444444
$color-dark-gray:		rgba(85, 85, 85, 1) !default; // #555555
$color-gandalf-gray:	rgba(170, 170, 170, 1) !default; // #aaaaaa
$color-gray:			rgba(221, 221, 221, 1) !default; // #dddddd
$color-light-gray:		rgba(238, 238, 238, 1) !default; // #eeeeee
$color-white:			rgba(255, 255, 255, 1) !default; // #ffffff

$color-red:				rgba(215, 30, 30, 1) !default; // #d71e1e
$color-red-shadow:		rgba(150, 21, 21, 1) !default; // #961515
$color-blue:			rgba(30, 56, 215, 1) !default; // #1e38d7 -- alternate: 2e66cf
$color-blue-shadow:		rgba(21, 39, 150, 1) !default; // #152796
$color-green:			rgba(50, 147, 43, 1) !default; // #32932b
$color-green-shadow:	rgba(32, 96, 28, 1) !default; // #20601C
$color-orange:			rgba(240, 124, 0, 1) !default; // #f07c00
$color-orange-shadow:	rgba(156, 81, 0, 1) !default; // #9C5100
$color-purple:			rgba(146, 26, 208, 1) !default; // #921ad0
$color-purple-shadow:	rgba(88, 16, 125, 1) !default; // #58107D

$color-cyan: 			#00BBBB;

$color-user-blue:		rgba(147, 184, 216, 1) !default; // #93b8d8
$color-red-link:		rgba(215, 30, 30, 1) !default; //#961515
$color-hover-link:		rgba(66, 139, 202, 1) !default; //#428bca
$color-neutral:			#344CDB;
$color-neutral-focus:	#6274E3;
$color-neutral-bg:		#B8DAFF;

$color-trans-black:		rgba(17, 17, 17, 0.4) !default; //#111111
$color-trans-blacker:	rgba(17, 17, 17, 0.8) !default;
$color-trans-red:		rgba(215, 30, 30, 0.8) !default; 
$color-trans-blue:		rgba(30, 56, 215, 0.8) !default;
$color-trans-green:		rgba(50, 147, 43, 0.8) !default;

$color-facebook:		#3B5998;
$color-facebook-dark:	#324B80;
$color-twitter:			#55ACEE;
$color-twitter-dark:	#4994CC;