@font-face {
  font-family: 'icon-font';
  src: url("assets/fonts/icon-font/icon-font.eot");
  src: url("assets/fonts/icon-font/icon-font.eot#iefix") format("embedded-opentype"), url("assets/fonts/icon-font/icon-font.woff") format("woff"), url("assets/fonts/icon-font/icon-font.ttf") format("truetype"), url("assets/fonts/icon-font/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nevis';
  src: url("assets/fonts/Nevis.ttf");
  font-weight: normal;
  font-style: normal;
}
/* line 82, ../../_src/sass/helpers/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before, #adminmenu .menu-icon-post#menu-posts-individual_spotlight .wp-menu-image:before, #adminmenu .menu-icon-post#menu-posts-partner_spotlight .wp-menu-image:before, #adminmenu .menu-icon-post#menu-posts-hope_report .wp-menu-image:before {
  font-family: "icon-font" !important;
  width: 1em;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  line-height: 1em;
  speak: none;
}

/* line 112, ../../_src/sass/helpers/_fonts.scss */
.icon-example:before {
  content: '\e800';
}

/* line 10, ../../_src/sass/style-cpt.scss */
div.wp-menu-image:before {
  margin: 0 !important;
}

/* line 20, ../../_src/sass/style-cpt.scss */
#adminmenu .menu-icon-post#menu-posts-hope_report .wp-menu-image:before {
  font-weight: bold !important;
}

/* line 31, ../../_src/sass/style-cpt.scss */
#adminmenu li.wp-menu-separator {
  background: #444;
  border-color: rgba(255, 255, 255, 0.1);
  height: 5px;
  margin: 6px 0;
}
