//=================================
// Buttons
//=================================

.btn {
	@include setfont("Nevis");
	color: $color-black;
	background-color: $color-gray;
	font-size: 1.3rem;
	width: inherit;
	padding: 1rem 1.5rem;
	margin: 0 1.5rem;
	line-height: 1.5rem;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;

	&:hover {
		background-color: $color-gandalf-gray;
	}

	&:focus {
		color: $color-black;
		border: none;
		outline: none;
	}
}

.btn-submit {
	background-color: $color-darker-gray;
	color: $color-white;

	&:focus {
		background-color: $color-darker-gray;
		color: $color-white;
	}
}

input[disabled=disabled][type=submit] {
	background-color: $color-gandalf-gray;
	color: $color-white;
	cursor: default;
}

.btn-neutral {
	background-color: $color-neutral;
	color: $color-white;

	&:hover {
		background-color: $color-neutral-focus;
		color: $color-white;
	}

	&:focus {
		background-color: $color-neutral-focus;
		color: $color-white;
	}
}

.btn-warning {
	background-color: $color-red;
	color: $color-white;

	&:hover {
		background-color: $color-trans-red;
		color: $color-white;
	}

	&:focus {
		background-color: $color-trans-red;
		color: $color-white;
	}
}