//=================================
// FONTS
//=================================

//---------------------------------
// Font Options
//---------------------------------

// Variables best utilized for font services without family grouping.
$font-regular: 'Regular Font Family Name', sans-serif;
$font-light: 'Light Font Family Name', sans-serif;
$font-bold: 'Bold Font Family Name', sans-serif;

// Variables best utilized for font services with family grouping.
$font-name-one: 'Font Name One', sans-serif;
$font-font-two: 'Font Name Two', sans-serif;

// Font List Map
$fonts: (
  fontone: (
    regular: $font-regular,
    light: $font-light,
    bold: $font-bold
  ),
  fonttwo: (
    regular: $font-regular,
    light: $font-light,
    bold: $font-bold
  )
);

// Font Function
@function setfont($name, $weight: regular) {
  @if map-has-key($fonts, $name) {
    @return map-get(map-get($fonts, $name), $weight);
  } @else {
    @warn "Couldn't find a font named `#{$name}`.";
  }
}

// Font Mixin
@mixin setfont($family: sans-serif, $weight: normal) {
	// Default Font Stack
	@if $family == "default" {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	// Nevis
	@if $family == "Nevis" {
		font-family: "Nevis", "Helvetica Neue", Helvetica, sans-serif;
	}
	// Muli
	@if $family == "muli" {
		font-family: "Muli", sans-serif;
	}
	// Lato
	@if $family == "lato" {
		font-family: "Lato", sans-serif;
	}
	// Josefin Slab
	@if $family == "josefin" {
		font-family: "Josefin Slab", sans-serif;
	}
	// Open Sans
	@if $family == "opensans" {
		font-family: "Open Sans", sans-serif;
	}
	// Font Awesome Icons
	@if $family == "FontAwesome" {
		font-family: "FontAwesome", sans-serif;
	}
	font-weight: $weight;
}

//----------------------------------
// Font Source
//----------------------------------

@font-face {
	font-family: 'Nevis';
	src: url('assets/fonts/nevis.ttf');
	font-weight: normal;
	font-style: normal;
}

// Icon Font
@font-face {
	font-family: 'FontAwesome';
	src: url('font-awesome/fonts/fontawesome-webfont.eot');
	src: url('font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
		 url('font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
		 url('font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
		 url('font-awesome/fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}