//----------------------------------
// COMMUNITY
//----------------------------------

.social-container {
	background: $color-white;
	padding: 1rem 0 0;
	display: block;
}

.social-box {
	margin: 4rem;
	padding: 2rem;
	background-color: $color-trans-black;

}

.sort-navigation {
	display: flex;
	justify-content: space-between;
}

.sort-categories, .feed-length, .feed-footer {
	display: inline-block;

	h6,h6 > a {
		color: white;
		text-decoration: none;
	}
}

.feed-footer {
	display: flex;
	justify-content: flex-end;
}

.feed-post {
	width: 18rem;
	height: 18rem;
	margin: 1rem;
	padding: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #777 no-repeat;
	background-size: cover;
	display: inline-block;
	color: white;
	position: relative;

	a {
		@include feature-box(white, 0.6);

	 	&:hover {
	  		opacity: 0;
	  	}
	}
}

.feed-items {
	padding: 2rem 0;

	.post-icon {
		content: ' ';
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		@include opacity(1);
		background-size: 3.5rem 3.5rem;
		background-repeat: no-repeat;
		background-origin: content-box;
		background-position:  bottom right;
	}
}

.facebook-post > .post-icon {
	background-image: url('http://localhost/sato48/wp-content/uploads/2014/12/02_facebook.png');
}

.twitter-post > .post-icon {
	background-image: url('http://localhost/sato48/wp-content/uploads/2014/12/01_twitter.png');
}

.youtube-post > .post-icon {
	background-image: url('http://localhost/sato48/wp-content/uploads/2014/12/03_youtube.png');
}

.news-post > .post-icon {
	background-image: url('http://localhost/sato48/wp-content/uploads/2014/12/03_youtube.png');
}

//New Stuff
.social-container {
	.body-text {
		padding: rem(35px 15px);
		margin: 0;
		@include cf;
		@include mq(medium) {
			margin: rem(0 15px);
			padding: rem(70px 20px);
		}
		@include mq(large) {
			margin: rem(0 50px);
			padding: rem(70px 20px);
		}
	}
	.news-img {
		background-image: url('http://localhost/sato48/wp-content/themes/sato48/assets/images/news.jpg');
		background-size: cover;

		h2 {
			margin: 0;
			@include mq(small){
				margin: 0 0 2.4rem 0;
			}
		}

		@include mq(medium){
			width: 30%;
			display: inline-block;
			float: left;
		}


		a {
			color: #ffffff;
			display: block;
			text-decoration: none;
			background-color: $color-trans-black;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding-top: rem(25px);
			padding-left: rem(25px);
			height: 200px;
			//1977 Filter
			-webkit-filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
  			filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
  			transition: .35s all ease;
  			text-shadow: 2px 2px 4px #000000;
  			&:hover {
  				filter: none;
  			}
  			@include mq(medium) {
  				height: 300px;
  			}
  			@include mq(large) {
  				height: 398px;
  			}

		}
	}
}
.social-bars {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	transition: .35s all ease;
	@include mq(medium) {
		display: inline-block;
		float: left;
		width: 60%;
		margin-left: rem(40px);
	}
	.social-bar {
		display: block;
		transition: .35s all ease;
		&:first-of-type {
			background-color: $color-facebook;

			:hover {
				background-color: $color-facebook-dark;
			}
		}
		&:nth-of-type(2) {
			background-color: $color-twitter;
			:hover {
				background-color: $color-twitter-dark;
			}
		}
		&:nth-of-type(3) {
			background-color: $color-green;
			:hover {
				background-color: $color-green-shadow;
			}
		}
		&:nth-of-type(4) {
			background-color: $color-orange;
			:hover {
				background-color: $color-orange-shadow;
			}
		}
		&:nth-of-type(5) {
			background-color: $color-purple;
			:hover {
				background-color: $color-purple-shadow;
			}
		}
		a {
			line-height: rem(48px);
			color: #ffffff;
			text-decoration: none;
			width: 100%;
			display: block;
			padding: rem(0px 15px);
			transition: .35s all ease;

		}
	}
	i.fa {
		margin-right: rem(15px);
	}
}
