
#contact-scroll {
	background-image: url('assets/images/contact.jpg');
	background-position: right 25% top -15rem;
}

.contact-container {
	background: $color-white;
	padding: 1rem 0;
	display: block;
}

.contact-wrap {
	padding: 5rem 0;
}

#field_1_1 {
	.ginput_container, label {
		display: inline-block;
	}

	.ginput_container {
		padding: 0 0 0 1.5rem;
	}
}

#field_1_3 {
	.ginput_container, label {
	}

	.ginput_container {
		padding: 0 0 1.5rem;
	}
}

ul#gform_fields_1 {

	li {
		margin: 0;
	}

	label {
		margin: 0;
	}

	.gfield_required {
		display: none;
	}
}