.hero-inner {
	p {
		color: $color-white;
		@include setfont(opensans, bold);
		font-size: 5.4rem;
		max-width: 100rem;
		margin: 2rem 5rem;
		position: absolute;
		right: 0;
		bottom: 26rem;
		text-shadow: 0.2rem 0.2rem $color-dark-gray;
	}
}

//----------------------------------
// SPONSORS
//----------------------------------

.spon-row {
	padding: 4rem 0 6rem;
	background: $color-white;
	@include sponsor-bar-custom-shadow;
}

.spon-titles {
	color: $color-black;

	h3, p {
		display: inline-block;
	}

	p {
		font-size: 1.2rem;
	}
}

.col-one-three {
	width: 33.333vw;
}

.spon-box {
	color: white;

	a {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		content: '';
	}

	h2 {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
				transition: opacity .25s ease-in-out;
		   -moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}

	.spon-inner {
		margin: 1em .6em;
		min-height: 150px;
		@extend %bg-cover;
		background-size:contain;
				transition: opacity .25s ease-in-out;
		   -moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;

		.fa-icon {
			float: left;
			font-size: 8rem;
			padding: 0 1.5rem 0 0;
		}

		> a {
			text-decoration: none;
			color: inherit;
			line-height: inherit;
			margin: 0;
			padding: 0;
		}

	}

	&:hover > .sato-gray {
		opacity: .7;
		@include sponsor-box-custom-shadow;
	}


	&:hover h2 {
		opacity: 1;
	}
}

.sato-gray {
	@include feature-box($color-black, 0);
}

//----------------------------------
// HOMEPAGE - ABOUT SECTION
//----------------------------------

.band-about {
	margin: 0;
	padding: 5rem;
	overflow: auto;
	position: relative;
	background-color: $color-gray;
	@include mq($mq-large, "max") {
		padding: 19.6vw;
		padding: 5rem 0 0;
	}
}

.about-circle {
	height: 36rem;
	width: 36rem;
	margin: 0 auto;
	display: inline-block;
	@include mq($mq-large, "max") {
		display: block;
	}
}


#about-image {
	margin: 2rem;
	height: 32rem;
	width: 32rem;
	background-size: cover;
	background-position: center;
	display: block;
	-webkit-border-radius: 16rem;
	   -moz-border-radius: 16rem;
			border-radius: 16rem;
	position: absolute;
}

.circle-overlay {
	margin: -16rem -16rem;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .65);
	-webkit-border-radius: 16rem;
	   -moz-border-radius: 16rem;
			border-radius: 16rem;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	h1 {
		color: $color-white;
		text-align: center;
		margin: 0;
	}
}

.blurb-wrap {
	max-width: 62vw;
	margin: 0 auto;
	padding: 0 0 0 5rem;
	display: inline-block;
	overflow: auto;
	float: right;
	@extend .clear;

	&-center {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		overflow: auto;
		float: none;
	}

	@include mq($mq-xlarge, "max") {
		max-width: 52vw;
	}
	@include mq($mq-large, "max") {
		padding: 0;
		position: relative;
		float: none;
		display: block;
		max-width: 90vw;
		padding: 5rem 0;
		top: auto;
		transform: none;
	}
}

.about-blurb {
	text-align: center;
	font-weight: normal;	
	p {	
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 2rem;
	}
}