//=================================
// FORM ELEMENTS
//=================================

// You are welcome to keep the default styles out of a container. It does help control your specific styles from third party ones.
// You will notice -webkit-appearance: none ... used through here. Both webkit and moz devices on tablet/mobile add their own styling.
// In some cases we need to remove them to apply correct styles across all browsers. You can remove it if it's not necessary for your case.

// basic styles
input,
textarea,
select {
	@extend p;
	outline: none;
	border-radius: 0;
	border: 1px solid #eee;
	padding: 5px 10px;
	margin: 0;
	width: 100%;
	font-size: 13px;
}

// Reset all styling for input and textarea, handy for mobile devices
input[type="text"],
input[type="time"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

// Unique styles that just apply to input/textarea/label
input,
textarea,
label {
	color: #000;
}

// Add the correct appearance, but also adjsut the height to fit with our input fields. This only matters for apple devices (height)
select {
	background: #fff;
	height: 30px;
	padding: 5px 10px;
}

// Make sure we are not adding the select height to multi select
select[multiple] {
	height: auto;
}

// Add correct appearance for checkbox
input[type="checkbox"] {
	vertical-align: bottom;
}

// Add correct appearace for radio
input[type="radio"] {
	vertical-align: text-bottom;
}

// Label specific styling
label {
	font-weight: 400;
}

// Focus specific styling
input:focus,
textarea:focus {
	outline: none;
	border-color: #000;
	background: #444;
	color: #fff;
}

// Remove spinner from type="number"
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

//---------------------------------
// Placeholders
//---------------------------------

.placeholder {
	color: #000;
}

input {
	@include placeholder() {
		color: #000;
	}
}

input:focus {
	@include placeholder() {
		color: blue;
	}
}


//---------------------------------
// Browser Specific
//---------------------------------

// Remove extra spacing that Firefox adds to buttons
button::-moz-focus-inner {
	padding: 0;
	border: 0
}

//---------------------------------
// Form Focus
//---------------------------------

textarea:focus,
textarea:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	-webkit-box-shadow: none; //inset 0 0 0 2px #93b8d8;
	-moz-box-shadow: none; //inset 0 0 0 2px #93b8d8;
	box-shadow: none; //inset 0 0 0 2px #93b8d8;
	outline: none;
}

a:active,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
	-webkit-box-shadow: none; //inset 0 0 0 2px #93b8d8;
	-moz-box-shadow: none; //inset 0 0 0 2px #93b8d8;
	box-shadow: none; //inset 0 0 0 2px #93b8d8;
	outline: none;
}

//---------------------------------
// General Styles
//---------------------------------

.form-wrap {
	max-width: 75rem;
	margin: 2.5rem auto;
}

.form-footer {
	margin: 2.5rem 0;
}

.gform_body{
	label {
		@extend p;
	}

	p {
		margin: 0;
	}
}

li.no-label {
	label {
		display: none !important;
		margin: 0;
	}
}

//---------------------------------
// Gravity Styles
//---------------------------------

body .gform_wrapper .gform_body .gform_fields .gfield {

	.gfield_label, .ginput_product_price_label {
		@extend p;
		margin: 0 0 1.5rem;
		font-size: 1.8rem;
		display: inline-block;
	}

	.gfield_radio li label, .gfield_checkbox li label {
		@extend p;
		font-size: 1.4rem;
	}

	.ginput_product_price, .ginput_product_price_label {
		@extend p;
		font-size: 1.8rem;
		margin: 0;

		.ginput_container {
			display: inline-block;
		}
	}

	.ginput_product_price {
		color: $color-green;
	}
}

body .gform_wrapper .validation_error {
	@extend p;
	color: $color-white;
	background: $color-trans-red;
	padding: 2rem;
}

body .gform_wrapper .validation_message {
	@extend p;
	font-weight: normal;
	font-size: 1.2rem;
	color: $color-red;
}

body .gform_wrapper .gform_body .gform_fields .gfield_error {

	input {
		background: $color-white;
		border: 0.2rem solid $color-trans-red;
		color: $color-black;
	}
}

body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex label {
	color: $color-gandalf-gray;
}

body .gform_wrapper .gform_body .gform_fields .gfield_error {

	textarea {
		@extend textarea;
		background: $color-white;
	}

	textarea,
	textarea:focus,
	textarea:active {
		border: 0.3rem solid $color-red;
	}
}

body .gform_confirmation_wrapper  {

	padding: 2rem;
	background: $color-trans-green;
	margin: 2rem auto;

	.gform_confirmation_message {
		@extend p;
		color: $color-white;
		margin: 0 auto;
	}
}

body .gform_wrapper .gform_body .gform_page_footer {
	overflow: auto;
	display: flex;
	justify-content: flex-end;

	input[type="button"], input[type="submit"] {
		@extend .btn;
		float: right;
		display: block;
		border: none !important;
		text-transform: uppercase;
	}

	input[type="button"] {

		&:hover {
			background-color: #AAA;
		}

		&:focus {
			color: $color-black;
		}
	}
}

// Shouldn't be indented this far or be using IDs but GForms was being finicky.
body #gform_wrapper_2 #gform_page_2_2 {
	li.team-submission {

		table {
			@extend p;
			width: 100%;
			margin: 1rem 0 0;

			th, td {
				padding: 0.5rem 0;
			}

			td {
				padding-left: 2rem;

				p.pay-note {
					font-size: 0.875em;
					color: $color-green;
				}
			}

			table {
				width: 95%;
				margin: 2rem 0;
				border: solid 0.1rem $color-gray;

				th, td {
					padding: 1rem 2rem;
					border: solid 0.1rem $color-gray;
				}

				th {
					background: $color-light-gray;
				}

				td.price {
					color: $color-green;
				}

				.registration {
					border-right: none;
				}

				.blank {
					border-left: none;
				}
			}
		}
	}
}

// <h3><span>Header =  ----- Header ------
.form-wrap {

	h3 {
		padding: 2rem 2rem;
		position: relative;

		&:before {
			border-top: 0.2rem solid #dfdfdf;
			content:"";
			margin: 0 auto; /* this centers the line to the full width specified */
			position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
			top: 3.25rem; left: 0; right: 0; bottom: 0;
			width: 100%;
			z-index: -1;
		}

		span { 
			/* to hide the lines from behind the text, you have to set the background color the same as the container */ 
			background: #fff;
			padding: 1rem;
			line-height: 3.5rem;
		}
	}
}

//---------------------------------
// Autocomplete Styles
//---------------------------------

.auto-selected {
	color: $color-green;
	font-weight: bold;
	background-color: $color-light-gray;

	&:focus {
		color: $color-white;
	}
}