//=================================
// TYPOGRAPHY
//=================================

//---------------------------------
// Pseudo
//---------------------------------

::selection {
	background: #777;
	color: #fff;
	text-shadow: none;
}

//---------------------------------
// General
//---------------------------------

html {
	font-size: 62.5%;
}

body {
	background: #fff;
	color: #000;
	font-size: $body-font-size;
	@include font-smoothing;
}

a {
	color: $color-red;	// color: setcolor($color-red-link);
	text-decoration: underline;
	&:hover,
	&:focus,
	&:active {
		color: $color-red;	// color: setcolor($color-red-link, medium);
	}
	&:focus {
		outline: none;
	}
}

//---------------------------------
// Headlines
//---------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2em;
	font-family: "Nevis", sans-serif;
	font-weight: bold;
}

h1 {
	line-height: 4.4rem;
	font-size: 44px;
	font-size: 4.4rem;
	font-weight: normal;
	margin: 0 0 2.4rem 0;
	-webkit-text-stroke: 0.1px;
}

h2 {
	font-size: 32px;
	font-size: 3.2rem;
	line-height: 31px;
	line-height: 3.1rem;
	margin: 0 0 2.4rem 0;
}

h3 {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 22px;
	line-height: 2.2rem;
	margin: 0 0 2.4rem 0;

}

h4 {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 18px;
	line-height: 1.8rem;
	margin: 0 0 2.4rem 0;
}

//---------------------------------
// Text Components
//---------------------------------

p,
dl,
address {
	font-size: 16px;
	font-size: 1.6rem;
	@include setfont(opensans);
	color: $color-black;
}

p,
dl {
	margin-bottom: 2rem;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

p,
li,
dt,
dd {
  font-weight: normal;
  font-style: normal;
}

li {
	line-height: 1;
	@include setfont(opensans);
	margin-left: 2rem;
}

//---------------------------------
// List Style
//---------------------------------

ul,
ol,
dd {
	line-height: rem(20px);
}

ul,
ol {
	margin-bottom: rem(20px);
}

li {
	font-size: inherit;
	line-height: rem(20px);
}

//---------------------------------
// Navigation Text
//---------------------------------

ul.nav-list {

	a {
		color: $color-white;
		text-decoration: none;
		padding: 0 0 1rem 0;
		font-size: 2.2rem;
		font-weight: bold;
		@include setfont("Nevis", bold);

		&:hover {
			background-color: transparent;
		}
	}
}

//---------------------------------
// Navigation Text
//---------------------------------

.warning {
	color: $color-red;
	margin: 0;
}

//---------------------------------
// Placeholder Extend Font Sizes
//---------------------------------

// This is handy if you're not using rems and want to control your own sizing based on breakpoint
// We recommend using REM sizing for this, but have provided several examples to help get you started

%font-large {
	font-size: em(28px);
	@include mq(small) {
		font-size: em(30px);
	}
	@include mq(medium) {
		font-size: em(36px);
	}
	@include mq(large) {
		font-size: em(46px);
	}
}

%font-medium {
	font-size: em(18px);
	@include mq(medium) {
		font-size: em(22px);
	}
	@include mq(large) {
		font-size: em(24px);
	}
}