body.login {}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform {}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}

.login h1 a {
	// background-image: url('../images/w-logo-blue.png?ver=20131202');
	// background-image: none, url('../images/wordpress-logo.svg?ver=20131107');
	background-size: 80px 80px;
	background-position: center top;
	background-repeat: no-repeat;
	color: #999;
	height: 80px;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0 auto 25px;
	padding: 0;
	text-decoration: none;
	width: 80px;
	text-indent: -9999px;
	outline: none;
	overflow: hidden;
	display: block;
}


body.login {
	background: $color-gray;
	@include setfont(opensans);
}

body.login div#login {

	p.message {
		border-left: 0.4rem solid $color-red;
	}

	p.message, form, #login_error {	
		border-radius: 0.5rem;
		-moz-border-radius: 0.5rem;
		-webkit-border-radius: 0.5rem;
	}

	p#nav a, p#backtoblog a {
    color: $color-red;
	}

	form {
		background: $color-white;

		input {
			@extend input;
			background-color: $color-white;

			&[type="checkbox"] {
				width: 1.6rem;
				background: $color-darker-gray;
				text-align: right;

				&:before {
					color: $color-white;
				}
			}

			&[type="submit"] {
				@extend .btn;
				@extend .btn-submit;
				margin: 3rem 0 0;
				padding: 2rem;
				line-height: 0.4rem;
			}
		}
	}
}